<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:p="http://www.springframework.org/schema/p"
     xmlns:context="http://www.springframework.org/schema/context"
     xmlns:aop="http://www.springframework.org/schema/aop"  
     xmlns:tx="http://www.springframework.org/schema/tx" 
     xmlns:mvc="http://www.springframework.org/schema/mvc"
     
     xsi:schemaLocation="
         http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop.xsd
         http://www.springframework.org/schema/tx  
         http://www.springframework.org/schema/tx/spring-tx.xsd
         http://www.springframework.org/schema/mvc
         http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
         
  
        
        <!-- 配置action(无) -->
            
            <!-- 配置映射器(无)-->
            <!-- 配置适配器(无) -->
             
        <!-- 配置视图解析器(无) -->
        
       <!--配置jsp->jsp/html转发控制器  -->
<!--         <bean name="/index.action" class="org.springframework.web.servlet.mvc.ParameterizableViewController"> -->
          <!-- 转发的视图名 -->
<!--             <property name="viewName" value="/WEB-INF/02_index.jsp"></property> -->
<!--         </bean> -->
        
         <!-- 配置action -->
         <bean name="/add.action" class="cn.kenny.app06.EmpAction"></bean>
         
         <!-- 配置映射器-->
         
         <!-- 配置适配器 -->
<!--              <bean class="org.springframework.web.portlet.mvc.SimpleControllerHandlerAdapter"></bean> -->
         <!-- 配置视图解析器-->
       
</beans>

